// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.set-color{
    background-color: green !important;
    transition: background-color 100ms linear;
}

.nav-item a{
    font-size: 14px;
    font-weight: 500;
}

.navbar.scrolled .nav-link {
    color:#555;
}

.txt-color{
    color: rgba(117,117,117,1);
}

.title{
    font-size: 106px;
}

.more-icon{
    margin-top: -20px;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 64px;
    }

    .more-icon{
        margin-top: -14px;
    }
}

@media only screen and (max-width: 560px) {
    .product-img{
        width: 100px !important;
        height: 100px !important;
    }
}